<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'Init' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Teachers' %}">Profesores</a>
    <a class="navbar-brand" href="{% url 'Curses' %}">Cursos</a>
    <a class="navbar-brand" href="{% url 'Students' %}">Estudiantes</a>
    <a class="navbar-brand" href="{% url 'Works' %}">Entregables</a>
    <a class="btn btn-primary" href="#signup">Ingresar</a>
  </div>
</nav>
