<nav class="navbar navbar-light bg-light static-top">
  <div class="container">
    <div class="home-button">
      <a class="navbar-brand" href="{% url 'Init' %}">Inicio</a>
    </div>
    <a class="navbar-brand" href="{% url 'Shoes' %}">Shoes</a>
    <a class="navbar-brand" href="{% url 'Add_Shoe' %}">Add shoes</a>
    <a class="navbar-brand" href="{% url 'Shirts' %}">Shirts</a>
    <a class="navbar-brand" href="{% url 'Add_Shirt' %}">Add shirts</a>
    <a class="btn btn-primary" href="{% url 'Register' %}">Register</a>
  </div>
</nav>
